@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yeseva One', cursive;
}

body {
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

 .sidebar {
     position: absolute;
     top: 0;
     right: 0;
     width: 120px;
     height: 100vh;
     background-color: rgba(26, 27, 47, 0.9);
     text-align: center;
 }

.sidebar img {
    width: 22px;
    display: block;
    margin: 50px auto 80px;
    cursor: pointer;
}

.social-media {
    width: 100%;
    height: 50%;
    background-color: #790811e3;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.soc-img {
    margin-bottom: 20px;
}

.social-media img {
    width: 39px;
    margin: 20px;
}

.container {
    width: 53%;
    height: 100vh;
    position: relative;
    background: linear-gradient(0deg, rgba(26, 27, 47, 0.24), rgba(26, 27, 47, 0.9)), url("images/code.png");
}

.container nav{
    background: rgba(26, 27, 47, 0.9);
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 20px;
    margin-top: 20px;
}

.info {
    padding: 50px;
    color: #fff;
    position: relative;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.info h3 {
    font-size: 42px;
    line-height: 60px;
    font-weight: normal;
}

.info h1 {
    font-size: 93px;
    font-weight: normal;
    margin-bottom: 35px;
}

.info p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22;
    line-height: 30px;
}